@font-face {
    font-family: Terminator;
    src: url(../font/terminator_cyr.ttf);
}

* {
    box-sizing:border-box;
    font-family:"Terminator";
    margin: 0;
    padding: 0;
}
a{text-decoration:none;color:black}
ul,li{list-style:none;}

.body__main{
    position:relative;
    background:#161616;
    display: flex;
    justify-content: center;

    .banner{
        position:fixed;
        bottom:0;
        left:0
    }

    .app-wrapper {
        max-width: 1920px;

        header{
            position:relative;
            overflow:hidden;
            display: flex;

            .logo{
                left:20px
            }



        }

        .header__img{
            width: 500px;
            height: 250px;
        }



    }

}

